flow2
[{"id":"4eeae3f8.342b4c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"791a5da8.18e494","type":"inject","z":"4eeae3f8.342b4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["af1e737a.7fdea"]]},{"id":"af1e737a.7fdea","type":"function","z":"4eeae3f8.342b4c","name":"Payload","func":"msg.headers={\n    devicekey:\"90rgqH0uAQjGWxHJ\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["2cd470a0.30f6f"]]},{"id":"2cd470a0.30f6f","type":"http request","z":"4eeae3f8.342b4c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DMtJZwJF/datachannels/LEDControl/datapoints.csv","tls":"","proxy":"","authType":"","x":450,"y":240,"wires":[["b791bdf9.1e1d1","894e5506.6efd08"]]},{"id":"b791bdf9.1e1d1","type":"http response","z":"4eeae3f8.342b4c","name":"","statusCode":"","headers":{},"x":600,"y":240,"wires":[]},{"id":"894e5506.6efd08","type":"debug","z":"4eeae3f8.342b4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":320,"wires":[]}]
