flow1
[{"id":"cca13ac3.d393b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"66b2ff36.48488","type":"rpi-gpio out","z":"cca13ac3.d393b8","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":590,"y":260,"wires":[]},{"id":"c1ef0d8c.76b9b","type":"inject","z":"cca13ac3.d393b8","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["66b2ff36.48488","add639ab.6951a8"]]},{"id":"1dac46e7.deab19","type":"inject","z":"cca13ac3.d393b8","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["66b2ff36.48488","add639ab.6951a8"]]},{"id":"add639ab.6951a8","type":"debug","z":"cca13ac3.d393b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":140,"wires":[]}]
